<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
	http://www.springframework.org/schema/jee 
	http://www.springframework.org/schema/jee/spring-jee-3.0.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-lazy-init="true">

	<description>Spring配置</description>

	<!-- 使用annotation 自动注册bean,并检查@Required,@Autowired的属性已被注入 -->
	<context:component-scan base-package="com.haiwaigou" />

	<!-- 加载JDBC property文件 -->
	<context:property-placeholder location="classpath*:config/jdbc.properties" ignore-unresolvable="true"/>
	
	<!-- 连接数据库	-->
 	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
		
		<!-- Connection Pooling Info -->
	<!--	<property name="initialSize" value="1" /> 初始化连接数量 --> 
		<property name="maxIdle" value="5" /><!-- 最大等待连接中的数量,设 0 为没有限制 -->
		<property name="minIdle" value="1"/><!-- 最小等待连接中的数量,设 0 为没有限制  -->
		<property name="maxActive" value="25" /><!-- 连接池的最大数据库连接数。设为0表示无限制。 -->
	<!--	<property name="maxWait" value="60000"/> 最大建立连接等待时间。如果超过此时间将接到异常。设为-1表示无限制。  -->	
	<!--	<property name="timeBetweenEvictionRunsMillis" value="3600000" />  -->	
    <!--    <property name="minEvictableIdleTimeMillis" value="3600000" />	-->	
	<!--	<property name="removeAbandoned" value="true" />强制自我中断避免dbcp自身bug出现连接过久资源耗尽-->
    <!--    <property name="removeAbandonedTimeout" value="60" />自我中断时间秒 -->
	</bean>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- 使用annotation定义事务  -->
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
	<!-- ibatis -->	
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation" value="classpath:sqlmap-config.xml"/>
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- 配置切面   -->
    <aop:config>
   		<aop:aspect id="logAspecter" ref="logAspcet">
   			<aop:pointcut id="mypointcut" expression="execution(* com.haiwaigou.*.service.impl.*.*(..))"/>
        </aop:aspect>
    </aop:config>

</beans>